<form action="/names" method="post">
  <div>
    <label for="player_1">Player 1:</label>
    <input type="text" name="player_1" id="player_1">
  </div>
  <div>
    <label for="player_2">Player 2:</label>
    <input type="text" name="player_2" id="player_2">
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form> 