<%=@player_1%> vs. <%=@player_2%>
<div>
  <h3>Player 1 Hit Count: 100</h3>
</div>

<div>
  <h3> Player 2 Hit Count: 100</h3>
</div>

<form action="/attack">
  <input type="submit" value="AttackP2">
</form>
